<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemalocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>noname</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
   <servlet-name>Home</servlet-name>
   <servlet-class>com.noname.controller.Home</servlet-class>
</servlet>


<servlet-mapping>
   <servlet-name>Home</servlet-name>
   <url-pattern>/noname/*</url-pattern>
</servlet-mapping>




</web-app>